
body {
    background: #101010;
    background: radial-gradient(#021b38, #151515);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Noto Serif', sans-serif;
}

.banner {
    position: absolute;
    top: 61px;
    width: 100%;
    height: 400px;
    opacity: 0.35;
    background-size: cover;
    background-position: 0% 25%;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 100px;
        width: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0), $body-bg);
    }
}

option {
    background: #1d1f22 !important;
}

